<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" />
    <title>Assign Staff</title>
</head>
<body>
    <%- include('partial/header.ejs') %>
    <h2>Assign Staff to project <% dataCombined.dataProject.name %></h2>
    <br>
    <form method="POST" action="/projects/assign-staff/<%= dataCombined.dataProject.id %>">
        <label>Staffs</label>
        <select name="staffId">
            <option disabled selected>--chose--</option>
            <% dataCombined.dataStaff.forEach ((el) => { %>
            <option value="<%= el.id %>"><%= el.name %></option>
            <% }) %>
        </select>
        <input type='submit' name='assign' value='Assign'>
    </form>
</body>
<%- include('partial/footer.ejs') %>
</html>