<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <%- include('partial/header.ejs') %>
    <h2>List of Project</h2>
    <br>
    <a href='/projects/add' >Add Project</a>
    <br>
    <table border=1>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Action</th>
        </tr>
        <% dataProject.map((el) => { %>
            <tr>
                <td><%= el.name %></td>
                <td><%= el.isCompleted %></td>
                <td><%= el.priority %></td>
                <td><a href="/projects/edit/<%= el.id %>">Edit</a> | <a href="/projects/delete/<%= el.id %>">Delete</a></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>