<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" />
    <title>Staffs</title>
</head>
<body>
    <%- include('partial/header.ejs') %>
    <h2>List of Staff</h2>
    <br>
    <a href='/staffs/add' >Add Staff</a>
    <br>
    <table border=1>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        <% dataStaff.map((el) => { %>
            <tr>
                <td><%= el.name %></td>
                <td><%= el.position %></td>
                <td><%= el.email %></td>
                <td><a href="/staffs/edit/<%= el.id %>">Edit</a> | <a href="/staffs/delete/<%= el.id %>">Delete</a> | <a href="/staffs/status/<%= el.id %>">Status</a></td>
            </tr>
        <% }) %>
    </table>
</body>
<%- include('partial/footer.ejs') %>
</html>